<ion-header>
    <ion-toolbar>
        <ion-title>pesquisa-satisfacao</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-row>
        <form [formGroup]=pesquisa>
            <ion-select
                placeholder="Escolha uma nota"
                [(ngModel)]="notasPesquisa"
                (ionChange)="adicionarNotaNPS()"
                formControlName=notasPesquisa
            >

                <ion-select-option value="{{ 1}}">{{ 1 }}</ion-select-option>
                <ion-select-option value="{{ 2}}">{{ 2 }}</ion-select-option>
                <ion-select-option value="{{ 3}}">{{ 3 }}</ion-select-option>
                <ion-select-option value="{{ 4}}">{{ 4 }}</ion-select-option>
                <ion-select-option value="{{ 5}}">{{ 5 }}</ion-select-option>
                <ion-select-option value="{{ 6}}">{{ 6 }}</ion-select-option>
                <ion-select-option value="{{ 7}}">{{ 7 }}</ion-select-option>
                <ion-select-option value="{{8}}">{{ 8}}</ion-select-option>
                <ion-select-option value="{{ 9}}">{{ 9 }}</ion-select-option>
                <ion-select-option value="{{ 10}}">{{ 10 }}</ion-select-option>
            </ion-select>
        </form>
    </ion-row>
    <ion-row>
        <ion-checkbox
            class="checkEmoji"
            color="light"
            (ionChange)="verificarEmoji1()"
            checked="{{ checkEmoji1 }}"
            [(ngModel)]="checkEmoji1"
            ngDefaultControl
        >
            emoji 1
        </ion-checkbox>
        <ion-checkbox
            class="checkEmoji"
            color="light"
            (ionChange)="verificarEmoji2()"
            checked="{{ checkEmoji2 }}"
            [(ngModel)]="checkEmoji2"
            ngDefaultControl
        >
            emoji 2
        </ion-checkbox>
        <ion-checkbox
            class="checkEmoji"
            color="light"
            value={{1}}
            (ionChange)="verificarEmoji3()"
            checked="{{ checkEmoji3 }}"
            [(ngModel)]="checkEmoji3"
            ngDefaultControl
        >
            emoji 3
        </ion-checkbox>
        <!-- <ion-checkbox
            class="checkEmoji"
            color="light"
            (ionChange)="verificarEmoji4()"
            checked="{{ checkEmoji4 }}"
            [(ngModel)]="checkEmoji4"
            ngDefaultControl
        >
            emoji 4
        </ion-checkbox>
        <ion-checkbox
            class="checkEmoji"
            color="light"
            (ionChange)="verificarEmoji5()"
            checked="{{ checkEmoji5 }}"
            [(ngModel)]="checkEmoji5"
            ngDefaultControl
        >
            emoji 5
        </ion-checkbox> -->
    </ion-row>

</ion-content>
