<ion-header style="background:#10dc60">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>



        <ion-title style=" height: 30px; font-weight: bold; text-align: center; font-family: TW Cen MT; color:white; font-size:20px;">Ja está acabando...</ion-title>
    </ion-buttons>
</ion-header>



<ion-content padding>
    <p style="text-align:center;color:gray">
        Selecione quais produtos você deseja levar
    </p>
    <ion-refresher
        slot="fixed"
        (ionRefresh)="doRefresh($event)"
    >
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>



    <ion-list *ngFor="let dado of CarrinhoItem">
        <ion-card>
            <ion-checkbox
                (ionChange)="selecionarItem(dado, dado)"
                [(ngModel)]="dado.selecionados"
            >
            </ion-checkbox>



            <ion-grid>
                <ion-row>
                    <ion-col size="5">
                        <ion-row>
                            <p class="marcas">{{ dado.marcas }}</p>
                        </ion-row>
                        <ion-row>
                            <p class="modelo">{{ dado.modelos }}</p>
                        </ion-row>
                    </ion-col>



                    <ion-col
                        size="2"
                        class="foto"
                    >
                        <ion-img
                            [src]="serviceUrl.urlFoto + dado.foto"
                            style="height: 60px; width:60px"
                        ></ion-img>
                    </ion-col>



                    <ion-col
                        size="4"
                        class="valor"
                    >
                        <p>Unitário: R${{ dado.valor }}</p>
                    </ion-col>
                    <br>
                    <ion-col
                        size="4"
                        class="valorTotal"
                    >
                        <p>Valor total: R${{ dado.valorTotal }}</p>
                    </ion-col>
                </ion-row>



                <ion-row class="row-select botoes">
                    <ion-col
                        size="3"
                        class
                    >
                        <p class>Cor: {{ dado.cor }}</p>
                    </ion-col>
                    <ion-col
                        size="3"
                        class="tamanho"
                    >
                        <p class>Tamanho: {{ dado.tamanhos }}</p>
                    </ion-col>
                    <ion-col
                        size="4"
                        class="tamanho"
                    >
                        <p class>
                            Quantidade: {{ dado.quantidade }} unidades
                        </p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </ion-list>



    <ion-button
        style="font-weight: bold"
        color="success"
        expand="full"
        (click)="finalizarCompra()"
    >
        Finalizar compra
    </ion-button>
    <ion-button
        expand="full"
        color="danger"
        (click)="cancelarPedido()"
    >
        Cancelar o meu pedido
        <!-- FAZER ESSA PORRA -->
    </ion-button>
</ion-content>
