.borda {
  border: 10px solid red;
}
ion-checkbox {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  --background-checked: none;
  --background: none;
  --checkmark-color: none;
  --border-color-checked: #aadfbf;
  --border-width: 5px;
  --border-color: white;

  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.modelo {
  position: fixed;
  top: 55px;
  left: 35px;
  width: 100px;
  text-align: center;
}

.marcas {
  position: fixed;

  top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.foto {
  position: fixed;
  left: 150px;
  top: 20px;
}

.cor {
  position: fixed;
  left: 50px;
  z-index: 3;
  border: 1px solid red;
  bottom: 23px;
}
.tamanho {
}

.quantidade {
  width: 10000px;
}

.valor {
  position: fixed;
  right: 0;
  top: 30px;
}

.valorTotal {
  position: fixed;
  right: 0;
  top: 45px;
  margin-top: 15px;
  font-weight: bold;
}

.botao-deletar {
  position: relative;
  z-index: 3;
}

.botao-favorito {
  position: relative;
}

.botoes {
  margin-top: 100px;

  padding-left: 20px;
}

.row-select {
  margin-left: -13px;
}
