div {
  position: relative;
  width: 100%;
  height: 450px;
}

div span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px;
  color: #2f3130;

  transform: translate(-50%, -50%);
}

ion-button {
  font-weight: bold;
}

.checkEmoji {
  --size: 60px;
  --checkmark-color: none;
}

.checkEmoji {
  --background-checked: none;
  --background: none;
  --checkmark-color: none;
  --border-color-checked: white;
  --border-width: 5px;
  --border-color: white;
}
