<ion-header>
    <ion-toolbar>
        <ion-buttons
            slot="start"
            *ngIf="pagina == null"
        >
            <ion-buttons
                slot="start"
                *ngIf="pagina == null"
            >
                <ion-back-button
                    *ngIf="pagina == null"
                    defaultHref="/tabs/carrinho"
                ></ion-back-button>
            </ion-buttons>
        </ion-buttons>
        <ion-title *ngIf="pagina != null">
            <p style="text-align: center; ">Seu pedido já foi enviado ao caixa</p>
            <p style="text-align: center; font-weight: bold;">Fique atento ao painel !!</p>
        </ion-title>
        <ion-title *ngIf="pagina == null">
            <p style="text-align: center; ">Esse é o seu número de pedido</p>
            <p style="text-align: center; font-weight: bold;">Fique atento ao painel !!</p>
        </ion-title>
    </ion-toolbar>
</ion-header>



<ion-content padding>
    <ion-card>
        <ion-item>
            <div>
                <span class="codigo">{{ codCliente }}</span>
            </div>
        </ion-item>
    </ion-card>



    <ion-button
        *ngIf="pagina == null"
        type="submit"
        expand="full"
        color="success"
        (click)="produtoRecebido()"
        disabled="{{ entregar }}"
    >
        RECEBI MEU PEDIDO
    </ion-button>



    <ng-container *ngIf="pagina != null">
        <p style="text-align: center; font-size:20px; font-weight: 600 ">Abaixo está uma pesquisa de satisfação.</p>
        <ion-row>
            <form [formGroup]="pesquisa">
                <p>
                    Que nota você daria para a nossa loja, caso um amigo seu perguntasse?
                </p>
                <ion-select
                    placeholder="Escolha uma nota"
                    [(ngModel)]="notasPesquisa"
                    (ionChange)="adicionarNotaNPS()"
                    formControlName="notasPesquisa"
                >
                    <ion-select-option value="{{ 1 }}">1</ion-select-option>
                    <ion-select-option value="{{ 2 }}">2</ion-select-option>
                    <ion-select-option value="{{ 3 }}">3</ion-select-option>
                    <ion-select-option value="{{ 4 }}">4</ion-select-option>
                    <ion-select-option value="{{ 5 }}">5</ion-select-option>
                    <ion-select-option value="{{ 6 }}">6</ion-select-option>
                    <ion-select-option value="{{ 7 }}">7</ion-select-option>
                    <ion-select-option value="{{ 8 }}">8</ion-select-option>
                    <ion-select-option value="{{ 9 }}">9</ion-select-option>
                    <ion-select-option value="{{ 10 }}">10</ion-select-option>
                </ion-select>
            </form>
        </ion-row>
    </ng-container>



    <ion-button
        *ngIf="pagina == null"
        expand="full"
        color="danger"
        (click)="cancelarPedido()"
    >
        Cancelar o meu pedido
    </ion-button>



    <ion-button
        *ngIf="pagina != null"
        type="submit"
        expand="full"
        color="success"
        (click)="continueComprando()"
    >
        Avalie o nosso atendimento
    </ion-button>
    <ion-button
        *ngIf="pagina != null"
        type="submit"
        expand="full"
        color="danger"
        (click)="finalizarCompra()"
    >
        Finalizar a compra
    </ion-button>
</ion-content>
