<ion-header style="background:#10dc60">
    <ion-buttons slot="start">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/perfil-usuarios"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Confirme sua senha
            <br>
            Sr(a){{nomeCliente}}
        </ion-title>
    </ion-buttons>
</ion-header>

<ion-content>

    <form [formGroup]="mudarSenha">

        <ion-item class="inputNome">
            <ion-label position="stacked">Digite sua nova senha:</ion-label>
            <ion-input
                (ionChange)="verificarSenha()"
                type="password"
                name=senha
                formControlName=senha
            ></ion-input>
            <ion-note
                slot="end"
                color="danger"
                *ngIf="senha.dirty && senha.hasError('minlength')"
            >
                Mínimo 6 caracteres
            </ion-note>
        </ion-item>

        <ion-item class="inputNome">
            <ion-label position="stacked">Confirme sua senha:</ion-label>
            <ion-input
                (ionChange)="verificarSenha()"
                type="password"
                [(ngModel)]="confirmarSenha"
                formControlName=senhaConfirmada
            ></ion-input>
            <ion-note
                slot="end"
                color="danger"
                *ngIf="senhaConfirmada != 0"
            >
                As senhas não coincidem
            </ion-note>
        </ion-item>

    </form>
    <ion-button
        expand="full"
        (click)="atualizarDados()"
        style="margin-top:10px;"
        color="success"
    >
        Alterar senha
    </ion-button>

</ion-content>
