<ion-header style="background:#10dc60">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>

    <ion-title
      style=" height: 30px; font-weight: bold; text-align: center; font-family: TW Cen MT; color:white; font-size:20px;"
      >CARRINHO</ion-title
    >
  </ion-buttons>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <p style="text-align:center;color:gray">
    Selecione quais produtos você deseja experimentar
  </p>

  <ion-list *ngFor="let dado of CarrinhoItem">
    <ion-card>
      <ion-checkbox
        (ionChange)="selecionarItem(dado)"
        [(ngModel)]="dado.selecionados"
      >
      </ion-checkbox>

      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-row>
              <p class="marcas">{{ dado.marcas }}</p>
            </ion-row>
            <ion-row>
              <p class="modelo ">{{ dado.modelos }}</p>
            </ion-row>
          </ion-col>

          <ion-col size="2" class="foto">
            <ion-img
              [src]="serviceUrl.urlFoto + dado.foto"
              style="height: 60px; width:60px"
            ></ion-img>
          </ion-col>

          <ion-col size="4" class="valor">
            <p>R${{ dado.valor }}</p>
          </ion-col>
        </ion-row>

        <ion-row class="row-select botoes">
          <ion-col size="3" class="quantidade ">
            <ion-select [(ngModel)]="dado.qtd" placeholder="Quant.">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size="3" class>
            <ion-select [(ngModel)]="dado.cod_cor" disabled="{{ cbAtivo }}">
              <ion-select-option
                name="tamanhos"
                *ngFor="let cor of aCor"
                value="{{ cor.cod_cor }}"
              >
                {{ cor.cor }}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="3" class="tamanho">
            <ion-select [(ngModel)]="dado.cod_tamanho" disabled="{{ cbAtivo }}">
              <ion-select-option
                name="tamanhos"
                *ngFor="let tamanhos of aTamanho"
                value="{{ tamanhos.cod_tamanho }}"
              >
                {{ tamanhos.tamanho }}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>

        <ion-row class>
          <ion-col size="6" class="botao-deletar">
            <ion-chip color="danger" (click)="deleteProduto(dado)">
              <ion-icon name="trash" color="danger"> </ion-icon>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>

  <ion-button color="success" expand="full" (click)="solicitarProdutos()">
    Solicitar produtos
  </ion-button>
</ion-content>
