<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button
            tab="produtos"
            (click)="atualizarProduto()"
        >
            <ion-icon name="add-circle"></ion-icon>
            <ion-label>Produtos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="carrinho">
            <ion-icon name="car"></ion-icon>
            <ion-label>Carrinho</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="favorito">
            <ion-icon name="star"></ion-icon>
            <ion-label>Favoritos</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
