<ion-header style="background:#10dc60">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>

        <ion-title class="topoTitulo">Olá Sr(a) {{nomeCliente}}</ion-title>
    </ion-buttons>
</ion-header>
<ion-content>
    <form [formGroup]="cliente">

        <div class="foto">
            <ion-button
                (click)="listCliente()"
                class="fotoPerfil"
            >

            </ion-button>
            <img
                src="{{imgPerfil}}"
                class="imagemPerfil "
            >

        </div>
        <p class="tutorial">
            Altere as suas informações pessoas abaixo
            <ion-item class="inputNome">
                <ion-label position="stacked">Nome:</ion-label>
                <ion-input
                    type="text"
                    [(ngModel)]="nomeCliente"
                    (ionChange)="updateClienteNome()"
                    formControlName=nomeCliente
                ></ion-input>
                <ion-note
                    slot="end"
                    color="succes"
                >
                </ion-note>
            </ion-item>
            <ion-button
                class="alterarSenha"
                (click)="alterarSenha()"
            >
                <p>Deseja alterar a sua senha?</p>
            </ion-button>
            <ion-item class="inputEmail">
                <ion-label position="stacked">E-mail:</ion-label>
                <ion-input
                    type="text"
                    [(ngModel)]="emailCliente"
                    (ionChange)="updateClienteEmail()"
                    formControlName=emailCliente
                ></ion-input>
                <ion-note
                    slot="end"
                    color="succes"
                >
                </ion-note>
            </ion-item>

            <ion-item class="inputTelefone">
                <ion-label position="stacked">Telefone:</ion-label>
                <ion-input
                    type="text"
                    [(ngModel)]="telefoneCliente"
                    (ionChange)="updateClienteTelefone()"
                    formControlName=telefoneCliente
                ></ion-input>
                <ion-note
                    slot="end"
                    color="succes"
                >
                </ion-note>
            </ion-item>

            <ion-item class="inputEndereco">
                <ion-label position="stacked">Endereço:</ion-label>
                <ion-input
                    type="text"
                    [(ngModel)]="enderecoCliente"
                    (ionChange)="updateClienteEndereco()"
                    formControlName=enderecoCliente
                ></ion-input>
                <ion-note
                    slot="end"
                    color="succes"
                >
                </ion-note>
            </ion-item>

            <ion-item class="inputNascimento">
                <ion-label position="stacked">Data de Nascimento:</ion-label>
                <ion-input
                    type="date"
                    [(ngModel)]="nascimentoCliente"
                    (ionChange)="updateClienteNascimento()"
                    formControlName=nascimentoCliente
                ></ion-input>
                <ion-note
                    slot="end"
                    color="succes"
                >
                </ion-note>
            </ion-item>

        </p>
    </form>

    <p style="  position: relative;
  bottom: 200px;
  color: #6d8376;
  text-align: center;">
        Saia e entre no aplicativo para aplicar as mudanças feitas.
    </p>

</ion-content>
