.fotoPerfil {
  --background: none;
  --background-hover: none;
  width: 205px;
  border-radius: 100%;
  height: 205px;

  --box-shadow: 100px;
  border: 5px solid #09c052;
}

.foto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 250px;
}

.tutorial {
  position: relative;
  bottom: 180px;
  color: #6d8376;
  text-align: center;
}
.alterarSenha {
  position: relative;
  bottom: 165px;
  font-style: none;
  color: green;
  --background: none;
  margin-top: 50px;
  font-weight: bold;
}

.imagemPerfil {
  width: 200px;
  border-radius: 100%;
  height: 200px;
  position: relative;
  bottom: 207px;
  z-index: 0;
}

.inputNome {
  border-radius: 50px;
  height: 60px;
  position: relative;
  bottom: 00px;
}

.inputEmail {
  border-radius: 50px;
  height: 60px;
  position: relative;
  bottom: 90px;
}

.inputTelefone {
  border-radius: 50px;
  height: 60px;
  position: relative;
  bottom: 70px;
}

.inputEndereco {
  border-radius: 50px;
  height: 60px;
  position: relative;
  bottom: 50px;
}

.inputNascimento {
  border-radius: 50px;
  height: 60px;
  position: relative;
  bottom: 30px;
}
