<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Meus produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <form
      [formGroup]="cadastrarr"


    >
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input
          type="text"
          name="nome"
          [(ngModel)]="nome"
          value="{{ nome }}"
          formControlName="nome"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="text"
          name="email"
          [(ngModel)]="email"
          value="{{ email }}"
          formControlName="email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Endereco</ion-label>
        <ion-input
          type="text"
          name="endereco"
          [(ngModel)]="endereco"
          value="{{endereco }}"
          formControlName="endereco"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input
          type="text"
          name="telefone"
          [(ngModel)]="telefone"
          value="{{telefone }}"
          formControlName="telefone"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">RG</ion-label>
        <ion-input
          type="text"
          name="rg"
          [(ngModel)]="rg"
          value="{{rg }}"
          formControlName="rg"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CPF</ion-label>
        <ion-input
          type="text"
          name="cpf"
          [(ngModel)]="cpf"
          value="{{cpf}}"
          formControlName="cpf"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Data de Nascimento</ion-label>
        <ion-input
          type="text"
          name="dataNascimento"
          [(ngModel)]="dataNascimento"
          value="{{dataNascimento}}"
          formControlName="dataNascimento"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input
          type="password"
          name="password"
          [(ngModel)]="password"
          value="{{ password }}"
          formControlName="password"
        ></ion-input>
      </ion-item>

      <ion-button (click)="openGallery()">Selecione sua foto</ion-button>



      <ion-item>
        <input
          type="file"
          (change)="atualizaArquivo($event)"
        >
        <br>
        <br>

      </ion-item>


      <div style="margin-top: 40px;">
        <ion-button type="submit" (click)="cadastrarFoto()">Cadastre-se</ion-button>
      </div>
    </form>
  </ion-list>
</ion-content>
