<ion-content>
    <h1 text-center>
        <img
            src="../../../assets/loja.png"
            width="150"
            height="100"
        >
    </h1>
    <!-- Cria um form, indicado que ele deve puxar todas as validações e controle que estão no authForm, criado no login.page.ts -->
    <form
        [formGroup]="cadastrarr"
        (onSubmit)="cadastrarUsuario()"
    >
        <!-- CONTAINER DO CRIAR CONTA -->
        <!-- Esse "ng-container" não aparece enquanto eu estiver em uma operação de login -->













        <!-- CONTAINER DO LOGIN -->
        <ng-container *ngIf="!configs.isSignIn">
            <ion-item>
                <!-- Cria um icone -->
                <ion-icon
                    name="person"
                    color="success"
                    solot="start"
                ></ion-icon>













                <!-- Cria um input criar conta -->
                <ion-item>
                    <ion-label position="floating">Nome</ion-label>
                    <ion-input
                        type="text"
                        name="nome"
                        formControlName="nome"
                    ></ion-input>
                </ion-item>
                <ion-note
                    slot="end"
                    color="danger"
                    *ngIf="nome.dirty && nome.hasError('required')"
                >
                    Obrigatório
                </ion-note>













                <ion-note
                    slot="end"
                    color="danger"
                    *ngIf="nome.dirty && nome.hasError('minlength')"
                >
                    Minimo 3 caracteres
                </ion-note>
            </ion-item>
        </ng-container>













        <!-- FORMULARIO DE LOGIN -->
        <ion-item>
            <!-- Cria um icone -->
            <ion-icon
                name="mail"
                color="success"
                solot="start"
            ></ion-icon>













            <!-- Cria um input email -->
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input
                    type="text"
                    name="email"
                    formControlName="email"
                ></ion-input>
            </ion-item>
            <ion-note
                slot="end"
                color="success"
                *ngIf="email.dirty && email.hasError('required')"
            >
                Obrigatório
            </ion-note>













            <ion-note
                slot="end"
                color="danger"
                *ngIf="email.dirty && email.hasError('email')"
            >
                Email invalido
            </ion-note>
        </ion-item>













        <ion-item>
            <ion-icon
                name="lock"
                color="success"
                solot="start"
            ></ion-icon>
            <ion-item>
                <ion-label position="floating">Senha</ion-label>
                <ion-input
                    type="password"
                    name="senha"
                    formControlName="senha"
                ></ion-input>
            </ion-item>
            <ion-note
                slot="end"
                color="danger"
                *ngIf="senha.dirty && senha.hasError('required')"
            >
                Obrigatório
            </ion-note>













            <ion-note
                slot="end"
                color="danger"
                *ngIf="senha.dirty && senha.hasError('minlength')"
            >
                Minimo 6 caract
            </ion-note>
        </ion-item>













        <ng-container *ngIf="!configs.isSignIn">
            <ion-button
                expand="block"
                class="btn-login"
                fill="clear"
                color="success"
                (click)="cadastrarUsuario()"
                [disabled]="cadastrarr.invalid"
            >
                Cadastre-se
            </ion-button>
        </ng-container>













        <ng-container *ngIf="!configs.isSignIn">
            <ion-button
                expand="block"
                class="btn-login"
                fill="clear"
                color="success"
                (click)="changeAuthAction()"
            >
                Já possuo uma conta
            </ion-button>
        </ng-container>













        <!-- Botão de Login -->
        <ng-container *ngIf="configs.isSignIn">
            <ion-button
                expand="block"
                class="btn-login"
                fill="clear"
                color="success"
                (click)="logar()"
                [disabled]="cadastrarr.invalid"
            >
                {{ configs.action }}
            </ion-button>
        </ng-container>













        <!-- Desabilitar o botão caso as validações de formulário não sejam atendidas -->
    </form>













    <!-- Botão de Cadastro -->
    <ion-button
        expand="block"
        class="btn-cadastro"
        fill="clear"
        color="success"
        *ngIf="configs.isSignIn"
        (click)="changeAuthAction()"
    >
        Crie uma conta
    </ion-button>
    <!-- ion-button
        style="--background:none; --background-hover:white;"
        class="botaoLegal"
    >
        <a style="color:green; margin-left:15px;">Esqueceu sua senha?</a>
    </ion-button> -->








    <!-- Botão do facebook
  <ion-button
    expand="block"
    (click)="onSubmit(authProvide.Facebook)"
  >
    <ion-icon
      name="logo-facebook"
      slot="start"
    ></ion-icon>
   Coloca uma logo 
    Login com facebook
  </ion-button> -->
</ion-content>
