<ion-header style="background:#10dc60">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>

    <ion-title
      style=" height: 30px; font-weight: bold; text-align: center; font-family: TW Cen MT; color:white; font-size:20px;"
      >FAVORITOS</ion-title
    >
  </ion-buttons>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let dado of CarrinhoItem">
    <ion-card>
      <p>{{ dado.modelos }}</p>
      <ion-img
        [src]="serviceUrl.urlFoto + dado.foto"
        style="height: 100px; width:150px"
      ></ion-img>
      <p>{{ dado.codigos }}</p>
      <p>{{ dado.descricao }}</p>
      <ion-chip color="danger" (click)="deleteProduto(dado)">
        <ion-icon name="trash" color="danger">
          <ion-label>Apagar</ion-label>
        </ion-icon>
      </ion-chip>
    </ion-card>
  </ion-list>
</ion-content>
