div {
  position: relative;
  width: 100%;
  height: 450px;
}

div span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px;
  color: #2f3130;

  transform: translate(-50%, -50%);
}

ion-button {
  font-weight: bold;
}

.checkEmoji {
  --size: 160px;
  --checkmark-color: none;
  margin-left: 100px;
  margin-right: 100px;
}

.checkEmoji {
  --background-checked: none;
  --background: none;
  --checkmark-color: none;
  --border-color-checked: white;
  --border-width: 0.1px;
  --border: none;
  --border-color: white;
}
