<ion-header>
    <ion-toolbar>
        <ion-title style="text-align:center;">
            Muito obrigado
            <br>
            por comprar na Tera Loja
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p style="text-align:center;color:gray">Avalie o nosso atendimento</p>
    <p style="text-align:center;color:gray">
        Caso o emoji selecionado, não fique colorido, clique novamente!
    </p>
    <ion-row>

        <ion-row style=" width:100%">
            <ion-checkbox
                class="checkEmoji"
                color="light"
                (ionChange)="verificarEmoji1()"
                checked="{{ checkEmoji1 }}"
                [(ngModel)]="checkEmoji1"
                ngDefaultControl
            >
            </ion-checkbox>
            <img
                src="{{ imagemEmojiTriste }}"
                style="width: 100px; height: 100px; position:absolute; left: 130px; margin-top:30px;"
            >
        </ion-row>

        <ion-row style=" width:100%">
            <ion-checkbox
                class="checkEmoji"
                color="light"
                (ionChange)="verificarEmoji2()"
                checked="{{ checkEmoji2 }}"
                [(ngModel)]="checkEmoji2"
                ngDefaultControl
            >
            </ion-checkbox>
            <img
                src="{{ imagemEmojiMedio }}"
                style="width: 100px; height: 100px; position:absolute; left: 130px; margin-top:30px;"
            >
        </ion-row>
        <ion-row style="width:100%">
            <ion-checkbox
                class="checkEmoji"
                color="light"
                (ionChange)="verificarEmoji3()"
                checked="{{ checkEmoji3 }}"
                [(ngModel)]="checkEmoji3"
                ngDefaultControl
            >
            </ion-checkbox>
            <img
                src="{{ imagemEmojiFeliz }}"
                style="width: 100px; height: 100px; position:absolute; left: 130px; margin-top:30px;"
            >
        </ion-row>
    </ion-row>
    <ion-button
        (click)="continueComprando()"
        expand="full"
        color="success"
    >
        CONTINUE COMPRANDO
    </ion-button>
</ion-content>
