.borda {
  border: 1px solid red;
}

.checkCarrinho {
  --background-checked: none;
  --background: none;
  --checkmark-color: none;
  --border-color-checked: white;
  --border-width: 5px;
  --border-color: white;
}

// TOPO

.topoTitulo {
  height: 50px;
  font-weight: bold;
  text-align: center;
  font-family: TW Cen MT;
  color: white;
  font-size: 20px;
}

/*.radio-image label > input{
    visibility: hidden;
}
.radio-image label > input + img{
    cursor:pointer;
    border:4px solid #EEE;
    width: 600px;
    height: 600px;
 background-image: url('  ../../../assets/img/carrinho-verde.svg');
    border-radius:15px;
    padding:10px;
}
.radio-image label > input:checked +  img{
    background-image: url('../../../assets/img/carrinho-verde-preenchido.svg');
    background-repeat: space;
}*/

//SLIDE

.digitaCodigo {
  display: block;
  position: fixed;
  top: 50px;
  width: 100%;
}
.botao-codigo {
  --background: white;
  height: 35px;
  width: 35px;
  --border-radius: 1000px;
  float: right;
  position: fixed;
  right: 0;
}
.botãoCodProd {
  position: fixed;
  top: 1;

  background: none;
  font-size: 32px;
}

//lista

.lista-produtos {
  width: 320px;
  margin-top: 150px;
}

//CARD

.card-produtos {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.modelo-produto {
  position: fixed;
  top: 0;
}

.descricao-produto {
  text-align: left;
  margin-top: 30px;
}

.foto {
  float: right;
  position: fixed;
  top: 0;
  right: 0;
}

.botoes-carfav {
  margin-top: 80px;
}
.checkCarrinho {
  --size: 60px;
  --checkmark-color: none;
}

// FOOTER
.menu {
  background: none;
}

.icone-favorito {
  font-size: 30px;
}

.icone-carrinho {
  font-size: 50px;
}

.carrinho {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 100px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

//nfc

.nfc {
  position: fixed;
  top: 220px;
  width: 100%;
  left: 0px;
  opacity: 0.3;
  filter: alpha(opacity=50);
  height: 350px;

  text-align: center;
}
