<ion-header style="background:#10dc60">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-title class="topoTitulo">
            Seja BEM-VINDO
            <br>
            TeraLoja
        </ion-title>
    </ion-buttons>
</ion-header>
<ion-content padding>
    <div class="conteudo">
        <ion-item
            class="digitaCodigo"
            slot="start"
        >
            <ion-input
                placeholder="Digite o código do produto aqui..."
                type="text"
                [(ngModel)]="codigos"
            >
                <ion-button
                    class="botao-codigo"
                    (click)="code()"
                    style="--background:none; --background-hover:white;"
                >
                    <ion-icon
                        class="botãoCodProd"
                        name="arrow-forward"
                        color="success"
                    ></ion-icon>
                </ion-button>
            </ion-input>
        </ion-item>











        <div class="nfc">
            <img
                src="../../../assets/nfc.svg"
                width="200px"
                height="200px;"
            >
            <p>Aproxime o seu celular de uma Tag NFC</p>
        </div>











        <!-- <ion-button
                expand="full"
                (click)="scanCode()"
              >
                Escanear PRODUTO
              </ion-button> -->











        <ion-list
            *ngFor="let dado of dados"
            class="lista-produtos "
        >
            <ion-card class="card-produtos ">
                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <h1 class="modelo-produto">{{ dado.modelos }}</h1>











                            <ion-row>
                                <p class="descricao-produto">{{ dado.descricao }}</p>
                            </ion-row>











                            <ion-row>
                                <p style="font-weight: bold; margin-top:-5px;">R${{ dado.valor }}</p>
                            </ion-row>











                            <ion-row>
                                <p style="margin-top:-5px;">{{ dado.categorias }}</p>
                            </ion-row>











                            <ion-row>
                                <ion-select
                                    [(ngModel)]="dado.cores"
                                    placeholder="Cor"
                                >
                                    <ion-select-option
                                        name="tamanhos"
                                        *ngFor="let cor of aCor"
                                        value="{{ cor.codigo }}"
                                    >
                                        {{ cor.cor }}
                                    </ion-select-option>
                                </ion-select>











                                <ion-select
                                    [(ngModel)]="dado.cod_tamanho"
                                    [(ngModel)]="dado.tamanhos"
                                    placeholder="Tamanho"
                                >
                                    <ion-select-option
                                        name="tamanhos"
                                        *ngFor="let tamanhos of aTamanho"
                                        value="{{ tamanhos.cod_tamanho }}"
                                        ngDefaultControl
                                    >
                                        {{ tamanhos.tamanho }}
                                    </ion-select-option>
                                </ion-select>











                                <ion-select
                                    [(ngModel)]="dado.qtd"
                                    placeholder="Quant."
                                >
                                    <ion-select-option value="1">1</ion-select-option>
                                    <ion-select-option value="2">2</ion-select-option>
                                    <ion-select-option value="3">3</ion-select-option>
                                    <ion-select-option value="4">4</ion-select-option>
                                    <ion-select-option value="5">5</ion-select-option>
                                </ion-select>
                            </ion-row>
                        </ion-col>











                        <ion-col size="6">
                            <ion-row style="height: 100px;">
                                <div>
                                    <ion-img
                                        [src]="serviceUrl.urlFoto + dado.foto"
                                        style="height: 150px; width:150px; margin-top:60px;"
                                        class="foto"
                                    ></ion-img>
                                </div>
                            </ion-row>











                            <ion-row class="botoes-carfav">
                                <!-- <ion-chip
                                            color="primary"
                                            (click)="selecionaCaracteristicas(dado)"
                                        >
                                            <ion-icon
                                                name="car"
                                                color="dark"
                                            ></ion-icon>
                                        </ion-chip>
                                        <ion-chip
                                            color="primary"
                                            (click)="adicionarFavoritos()"
                                        >
                                            <ion-icon
                                                name="star"
                                                color="dark"
                                            ></ion-icon>
                                        </ion-chip> -->











                                <ion-checkbox
                                    class="checkCarrinho"
                                    color="light"
                                    (ionChange)="checkCarrinho(dado)"
                                    checked="{{ dado.checkCarrinho }}"
                                    [(ngModel)]="dado.checkCarrinho"
                                    ngDefaultControl
                                >
                                </ion-checkbox>
                                <img
                                    src="{{ imagemCarrinho }}"
                                    style="width: 40px; height: 40px; position:fixed; left: 170px;"
                                >











                                <ion-checkbox
                                    class="checkCarrinho"
                                    color="dark"
                                    (ionChange)="checkFavorito(dado)"
                                    checked="{{ dado.checkFavorito }}"
                                    [(ngModel)]="dado.checkFavorito"
                                ></ion-checkbox>
                                <img
                                    src="{{ imagemFavorito }}"
                                    style="width: 40px; height: 40px; position:fixed; left: 230px;"
                                >
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>











                <!-- <ion-label>Carrinho</ion-label>
                    <ion-checkbox
                      slot="end"
                      [(ngModel)]="dado.isCheckedCarrinho"
                      (ionChange)="checkCarrinho()"
                    >
                    </ion-checkbox>
        
                    <ion-label>Favorito</ion-label>
                    <ion-checkbox
                      slot="end"
                      [(ngModel)]="isCheckedFavorito"
                      (ionChange)="checkFavorito()"
                    >
                    </ion-checkbox>
        
                    <fieldset class="radio-image">
                      <label for="M">
                        <input
                          type="checkbox"
                          id="M"
                          value={{dado.isCheckedFavorito}}
                          [(ngModel)]="isCheckedFavorito"
                          (change)="checkFavorito()"
                        >
                        <img>
                      </label>
        
                    </fieldset> -->
            </ion-card>
        </ion-list>
        <ion-fab
            vertical="bottom"
            horizontal="end"
            slot="fixed"
        >
            <ion-fab-button
                color="success"
                (click)="scanCode()"
            >
                <ion-icon name="camera"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>
</ion-content>
